@{
    ViewBag.Title = "Trang chủ";
    Layout = "_LayoutAdmin";
}

@section customHead {
    <link rel="stylesheet" href="~/css/admin_index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="container welcome-page-container">
    <h1 class="welcome-title">Chào mừng bạn đến với StuX</h1>
    <div class="welcome-header-container d-flex justify-content-between align-items-center">
        <span class="welcome-header-text">Danh sách đề thi của bạn</span>
    </div>

    <div class="action-container d-flex align-items-center justify-content-between py-3">
        <button id="create-new-test" class="create-new-test-button" type="button">
            <i class="fas fa-plus me-2"></i> 
            <span class="create-new-test-text">Tạo mới</span>
        </button>

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gần đây nhất
            </button>
            <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                <li><a class="dropdown-item" href="#" data-value="recent">Gần đây nhất</a></li>
                <li><a class="dropdown-item" href="#" data-value="title">Tiêu đề</a></li>
            </ul>
        </div>
    </div>
    <div id="test-list-container" class="test-list-container">
    </div>
</div>


@section scripts {
    <script src="~/js/admin_index.js" asp-append-version="true"></script>
}
