@{
    ViewBag.Title = "Tạo Đề Thi TOEIC";
    Layout = "_LayoutAdmin";
}

@section customHead {
    <link rel="stylesheet" href="~/css/admin_index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="container p-3">
    <div class="main-container p-3">
        <div id="test-builder-scrollable" class="scrollable-container">
            <div id="test-info-section" class="section">
                <div class="section-header">TEST INFORMATION</div>
                <div class="section-divider"></div>
                <div>
                    <div class="section-content-container">
                        <div class="d-flex flex-column">
                            <b id="test-info-title-display"></b>
                            <span id="test-info-description-display"></span> 
                            <div class="button-group button-group-absolute">
                                <button class="button-group-item" onclick="editTestInfo()">
                                    <i class="fa fa-edit"
                                       style="margin-top: -2px; padding-right: 1px; color: var(--black-500);"></i>
                                </button>
                                <button class="button-group-item button-group-item-delete">
                                    <i class="fa fa-trash"
                                       style="margin-top: -2px; padding-right: 1px; color: var(--red-500);"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <form class="edit-form" style="display: none;">
                        <div>
                            <div style="position: relative">
                                <label class="form-label" style="width: 350px" id="test-info-title">
                                    <span class="label-text label-required">Title</span>
                                    <input type="text" placeholder="Enter test title" required="" class="form-input" id="test-info-input"
                                           value="">
                                </label>
                                <label id="test-info-description" class="form-label">
                                    <span class="label-text label-required">Description</span>
                                    <textarea placeholder="Enter test description" required="" class="form-textarea" id="test-info-description-input"></textarea>
                                </label>
                                <div class="button-group">
                                    <button class="button-group-item button-group-item-delete">
                                        <i class="fa fa-trash"
                                           style="margin-top: -2px; padding-right: 1px; color: var(--red-500);"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-controls">
                            <button class="button cancel-button">Cancel</button>
                            <button class="button save-button" onclick="saveTestInfo(event)">
                                <span style="display: inline-block; width: 73px;">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="test-question-section" class="section">
                <div class="section-header">QUESTION LIST</div>
                <div class="section-divider"></div>
                <div>
                    <div class="section-content-container">
                        <div class="d-flex flex-column">
                            <b id="test-question-display"></b>
                            <span>
                    <ul id="answer-options" style="padding-left: 1rem; list-style: none">
                    </ul>
                </span>

                            <div class="button-group button-group-absolute">
                                <button class="button-group-item">
                                    <i class="fa fa-edit" style="margin-top: -2px; padding-right: 1px; color: var(--black-500);"></i>
                                </button>
                                <button class="button-group-item button-group-item-delete">
                                    <i class="fa fa-trash" style="margin-top: -2px; padding-right: 1px; color: var(--red-500);"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <form class="edit-form" style="display: none;">
                        <div>
                            <div style="position: relative">
                                <label class="form-label" style="width: 350px" id="test-question-title">
                                    <span class="label-text label-required">Title</span>
                                    <input type="text" placeholder="Enter question title" required="" class="form-input" id="test-question-input" value="">
                                </label>
                                <label id="test-question-description" class="form-label">
                                    <span class="label-text label-required">Description</span>
                                    <textarea placeholder="" required="" class="form-textarea" id="test-question-options"></textarea>
                                </label>
                                <div class="button-group">
                                    <button class="button-group-item button-group-item-delete">
                                        <i class="fa fa-trash" style="margin-top: -2px; padding-right: 1px; color: var(--red-500);"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-controls">
                            <button class="button cancel-button">Cancel</button>
                            <button class="button save-button" type="button" onclick="saveQuestion()">
                                <span style="display: inline-block; width: 73px;">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function toggleEditMode(section, isEditMode) {
        const form = section.querySelector('.edit-form');
        const contentContainer = section.querySelector('.section-content-container');

        if (isEditMode) {
            section.classList.add('edit-mode');
            form.style.display = 'block';
            contentContainer.style.display = 'none';
        } else {
            section.classList.remove('edit-mode');
            form.style.display = 'none';
            contentContainer.style.display = 'block';
        }
    }

    document.querySelectorAll('.cancel-button').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault(); 
            const section = button.closest('.section');
            toggleEditMode(section, false);
        });
    });

    document.querySelectorAll('.save-button').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault(); 
            const section = button.closest('.section');
            toggleEditMode(section, false); 
        });
    });

    document.querySelectorAll('.button-group-item').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault(); 
            const section = button.closest('.section');
            toggleEditMode(section, true); 
        });
    });

    function editTestInfo() {
        document.querySelector('.edit-form').style.display = 'block';
        document.querySelector('.section-content-container').style.display = 'none';
    }

    function saveTestInfo(event) {
        event.preventDefault(); 

        const newTitle = document.getElementById('test-info-input').value;
        const newDescription = document.getElementById('test-info-description-input').value;

        document.getElementById('test-info-title-display').textContent = newTitle;
        document.getElementById('test-info-description-display').textContent = newDescription;

        document.querySelector('.edit-form').style.display = 'none';
        document.querySelector('.section-content-container').style.display = 'block';
    }

    let questionCounter = 1;

    function saveQuestion() {
        const questionText = document.getElementById('test-question-input').value;

        document.getElementById('test-question-display').innerText = `${questionCounter}. ${questionText}`;

        const optionsText = document.getElementById('test-question-options').value;


        document.getElementById('answer-options').innerHTML = optionsText.split('\n').map((option, index) => {
            return `<li>(${String.fromCharCode(65 + index)}) ${option}</li>`;
        }).join('');

        document.querySelector('.edit-form').style.display = 'none';

        //questionCounter++;
    }
</script>
