@model List<ToeicStudyNetwork.ViewModels.Forum.PostViewModel>
@{
ViewBag.Title = "Liked";
Layout = "_LayoutForum";
}

@section customHead {
<link rel="stylesheet" href="~/css/forum_index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="container">
    @await Html.PartialAsync("_ForumHeaderPartial")

    <div class="card">
        @await Html.PartialAsync("_ForumCardHeaderPartial")
        @if (ViewBag.Token != null)
        {
            <div id="post-container">
                @foreach (var post in Model)
                {
                    @await Html.PartialAsync("_MediaPost", post)
                }
            </div>
        }
        
        @await Html.PartialAsync("_LoadingPartial")
    </div>
</div>



@section scripts {
    <script src="~/js/forum.js" asp-append-version="true"></script>
    <script src="~/js/forum_liked.js" asp-append-version="true"></script>
}
