<div class="alert alert-discussion my-3" style="font-style: normal">
    <span style="font-style: normal"><strong>Discussion:</strong> Tham gia thảo luận với các học viên khác để trao đổi kinh nghiệm và kiến thức.</span> 
</div>
