 <!-- Pro Tips Section -->
<div class="alert alert-pro-tips my-3" style="font-style: normal">
    <span style="font-style: normal"><strong>Pro tips: </strong>Hình thức luyện tập từng phần và chọn mức thời gian phù hợp sẽ giúp bạn tập trung vào giải từng các câu hỏi thay vì phải chịu áp lực hoàn thành bài thi.</span> 
</div>

<!-- Practice Options -->
<div class="mb-3" style="font-style: normal">
    <label class="label fw-bold" style="margin-bottom: 0.5rem">Chọn phần thi bạn muốn làm</label>
    <!-- Part 1 -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="part1">
        <label class="form-check-label" for="part1">Part 1 (6 câu hỏi)</label>
    </div>
    <div class="my-2 d-grid grid-template-columns custom-btn-group">
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Tranh tả người</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Tranh tả vật</a>
    </div>

    <!-- Part 2 -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="part2">
        <label class="form-check-label" for="part2">Part 2 (25 câu hỏi)</label>
    </div>
    <div class="my-2 d-grid grid-template-columns custom-btn-group">
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi WHAT</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi WHO</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi WHERE</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi WHEN</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi HOW</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi WHY</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi YES/NO</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi đuôi</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu hỏi lựa chọn</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu yêu cầu, đề nghị</a>
        <a href="#" class="btn btn-sm btn-outline-secondary">Câu trần thuật</a>
    </div>

    <!-- Part 3 -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="part3">
        <label class="form-check-label" for="part3">Part 3 (39 câu hỏi)</label>
    </div>
    <div class="my-2 d-grid grid-template-columns custom-btn-group">
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về chủ đề, mục đích</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về danh tính người
            nói</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về chi tiết cuộc hội
            thoại</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về hành động tương
            lai</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi kết hợp bảng biểu</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về hàm ý câu nói</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Chủ đề: Company - General Office
            Work</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Chủ đề: Company - Personnel</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Chủ đề: Company - Event,
            Project</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Chủ đề: Company - Facility</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Chủ đề: Shopping, Service</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Chủ đề: Order, delivery</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Chủ đề: Transportation</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về yêu cầu, gợi ý</a>
    </div>

    <!-- Part 4 -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="part4">
        <label class="form-check-label" for="part4">Part 4 (30 câu hỏi)</label>
    </div>
    <div class="my-2 d-grid grid-template-columns custom-btn-group">
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về chủ đề, mục đích</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về danh tính, địa điểm</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về chi tiết</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về hành động tương lai</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi kết hợp bảng biểu</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về hàm ý câu nói</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Telephone message - Tin nhắn thoại</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Announcement - Thông báo</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: News report, Broadcast - Bản tin</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Talk - Bài phát biểu, diễn văn</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Excerpt from a meeting - Trích dẫn từ buổi họp</a>
    </div>

    <!-- Part 5 -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="part5">
        <label class="form-check-label" for="part5">Part 5 (30 câu hỏi)</label>
    </div>
    <div class="my-2 d-grid grid-template-columns custom-btn-group">
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi từ loại</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi ngữ pháp</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi từ vựng</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Danh từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Đại từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Tính từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Thể</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Trạng từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Động từ nguyên mẫu có to</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Giới từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Liên từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Cấu trúc so sánh</a>
    </div>

    <!-- Part 6 -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="part6">
        <label class="form-check-label" for="part6">Part 6 (16 câu hỏi)</label>
    </div>
    <div class="my-2 d-grid grid-template-columns custom-btn-group">
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi từ loại</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi ngữ pháp</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi từ vựng</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi điền câu vào đoạn văn</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Hình thức: Thư điện tử/ thư tay (Email/ Letter)</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Hình thức: Quảng cáo (Advertisement)</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Hình thức: Thông báo/ văn bản hướng dẫn (Notice/ Announcement Information)</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Hình thức: Thông báo nội bộ (Memo)</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Danh từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Đại từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Tính từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Thì</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Thể</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Động từ nguyên mẫu có to</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Động từ nguyên mẫu</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Phân từ và Cấu trúc phân từ</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Liên từ</a>
    </div>

    <!-- Part 7 -->
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="part7">
        <label class="form-check-label" for="part7">Part 7 (54 câu hỏi)</label>
    </div>
    <div class="my-2 d-grid grid-template-columns custom-btn-group">
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi tìm thông tin</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi tìm chi tiết sai</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về chủ đề, mục đích</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi suy luận</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi điền câu</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Cấu trúc: một đoạn</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Cấu trúc: nhiều đoạn</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Email/ Letter: Thư điện tử/ Thư tay</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Form - Đơn từ, biểu mẫu</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Article/ Review: Bài báo/ Bài đánh giá</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Advertisement - Quảng cáo</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Announcement/ Notice: Thông báo</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Text message chain - Chuỗi tin nhắn</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi tìm từ đồng nghĩa</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Câu hỏi về hàm ý câu nói</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: Schedule - Lịch trình, thời gian biểu</a>
        <a href="#" class="btn btn-sm btn-outline-secondary me-1">Dạng bài: List/ Menu: Danh sách/ Thực đơn</a>
    </div>
</div>
<div class="form-group">
	<label class="label" for="time_limit">Giới hạn thời gian (Để trống để làm bài không giới hạn)</label>
	<select name="time_limit" id="floatingSelect" class="custom-select ">
		
		<option value="" disabled="" selected="">-- Chọn thời gian --</option>
		
		<option value="0">0 phút</option>
		
		<option value="5">5 phút</option>
		
		<option value="10">10 phút</option>
		
		<option value="15">15 phút</option>
		
		<option value="20">20 phút</option>
		
		<option value="25">25 phút</option>
		
		<option value="30">30 phút</option>
		
		<option value="35">35 phút</option>
		
		<option value="40">40 phút</option>
		
		<option value="45">45 phút</option>
		
		<option value="50">50 phút</option>
		
		<option value="55">55 phút</option>
		
		<option value="60">60 phút</option>
		
		<option value="65">65 phút</option>
		
		<option value="70">70 phút</option>
		
		<option value="75">75 phút</option>
		
		<option value="80">80 phút</option>
		
		<option value="85">85 phút</option>
		
		<option value="90">90 phút</option>
		
		<option value="95">95 phút</option>
		
		<option value="100">100 phút</option>
		
		<option value="105">105 phút</option>
		
		<option value="110">110 phút</option>
		
		<option value="115">115 phút</option>
		
		<option value="120">120 phút</option>
		
		<option value="125">125 phút</option>
		
		<option value="130">130 phút</option>
		
		<option value="135">135 phút</option>
		
	</select>
</div>
<a class="btn mb-3 btn-primary" asp-controller="Test" asp-route-id="@Model.Id" asp-action="StartExam" style="background-color: var(--primary-500)">Luyện thi</a>
