@model ToeicStudyNetwork.Models.ExamModel
<div data-aos="fade-up" data-aos-delay="100">
    <div class="card test-item position-relative item-cyan">
        <div class="card-body">
            <h3 class="card-title">@Model.Title</h3>
            <div class="detail-item" style="font-size: 14px">
                <i class="bi bi-clock"></i>
                <p>40 phút</p>
                <p>|</p>
                <i class="bi bi-people"></i>
                <p>684423</p>
                <p>|</p>
                <i class="bi bi-chat"></i>
                <p>2084</p>
            </div>
            <div class="detail-item" style="font-size: 14px">
                <p>7 phần thi</p>
                <p>|</p>
                <p>200 câu hỏi</p>
            </div>
            <div class="course-tag">
                #TOEIC
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-detail" asp-controller="Test" asp-route-id="@Model.Id" asp-action="DetailExam">Chi tiết</a>
        </div>
    </div>
</div>
