@{
    ViewData["Title"] = "Home Page";
}


<!-- Hero Section -->
<section id="hero" class="hero section">
    <div class="hero-bg">
        <img src="~/assets/img/hero-bg-light.webp" alt="">
    </div>
    <div class="container text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 data-aos="fade-up">Welcome to <span>QuickStart</span></h1>
            <p data-aos="fade-up" data-aos-delay="100">Quickly start your project now and set the stage for success<br></p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                <a href="#about" class="btn-get-started">Bắt đầu ngay</a>
            </div>
            <img src="~/assets/img/hero-services-img.webp" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
    </div>

</section>
<!-- /Hero Section -->

<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section light-background">

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="test-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="test-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exa</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="test-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
          </div>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Featured Services Section -->

<!-- Services Section -->
<section id="services" class="services section light-background">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Đề thi mới nhất</h2>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row g-5">
      <!-- Start Test Item -->
      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="card test-item position-relative item-cyan">
          <div class="card-body">
            <h3 class="card-title">New Economy TOEIC Test 1</h3>
            <div class="detail-item">
              <i class="bi bi-clock"></i>
              <p>40 phút</p>
              <p>|</p>
              <i class="bi bi-people"></i>
              <p>684423</p>
              <p>|</p>
              <i class="bi bi-chat"></i>
              <p>2084</p>
            </div>
            <div class="detail-item">
              <p>7 phần thi</p>
              <p>|</p>
              <p>200 câu hỏi</p>
            </div>
            <div class="course-tag">
              #TOEIC
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-detail">Chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="card test-item position-relative item-cyan">
          <div class="card-body">
            <h3 class="card-title">New Economy TOEIC Test 1</h3>
            <div class="detail-item">
              <i class="bi bi-clock"></i>
              <p>40 phút</p>
              <p>|</p>
              <i class="bi bi-people"></i>
              <p>684423</p>
              <p>|</p>
              <i class="bi bi-chat"></i>
              <p>2084</p>
            </div>
            <div class="detail-item">
              <p>7 phần thi</p>
              <p>|</p>
              <p>200 câu hỏi</p>
            </div>
            <div class="course-tag">
              #TOEIC
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-detail">Chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="card test-item position-relative item-cyan">
          <div class="card-body">
            <h3 class="card-title">New Economy TOEIC Test 1</h3>
            <div class="detail-item">
              <i class="bi bi-clock"></i>
              <p>40 phút</p>
              <p>|</p>
              <i class="bi bi-people"></i>
              <p>684423</p>
              <p>|</p>
              <i class="bi bi-chat"></i>
              <p>2084</p>
            </div>
            <div class="detail-item">
              <p>7 phần thi</p>
              <p>|</p>
              <p>200 câu hỏi</p>
            </div>
            <div class="course-tag">
              #TOEIC
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-detail">Chi tiết</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
        <div class="card test-item position-relative item-cyan">
          <div class="card-body">
            <h3 class="card-title">New Economy TOEIC Test 1</h3>
            <div class="detail-item">
              <i class="bi bi-clock"></i>
              <p>40 phút</p>
              <p>|</p>
              <i class="bi bi-people"></i>
              <p>684423</p>
              <p>|</p>
              <i class="bi bi-chat"></i>
              <p>2084</p>
            </div>
            <div class="detail-item">
              <p>7 phần thi</p>
              <p>|</p>
              <p>200 câu hỏi</p>
            </div>
            <div class="course-tag">
              #TOEIC
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-detail">Chi tiết</button>
          </div>
        </div>
      </div>
      <!-- End Test Item -->


    </div>

  </div>

</section>
<!-- /Services Section -->


<!-- Faq Section -->
<section id="faq" class="faq section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Frequently Asked Questions</h2>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

        <div class="accordion" id="faqAccordion">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Non consectetur a erat nam at lectus urna duis?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Feugiat scelerisque varius morbi enim nunc faucibus?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Dolor sit amet consectetur adipiscing elit pellentesque?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Tempus quam pellentesque nec nam aliquam sem et tortor?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Perspiciatis quod quo quos nulla quo illum ullam?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Enim ea facilis quaerat voluptas quidem et dolorem. Quis et consequatur non sed in suscipit sequi. Distinctio ipsam dolore et.
              </div>
            </div>
          </div>

        </div>

      </div><!-- End Faq Column-->

    </div>

  </div>

</section>
<!-- /Faq Section -->

