@model List<ToeicStudyNetwork.Models.ExamModel>
@{
  ViewData["Title"] = "Home Page";
}

@section customHead {
  <link rel="stylesheet" href="~/css/home_index.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<!-- Hero Section -->
<section id="hero" class="hero section">
  <div class="hero-bg">
    <img src="~/assets/img/hero-bg-light.webp" alt="">
  </div>
  <div class="container text-center">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 data-aos="fade-up">Chào Mừng Đến Với <span>StuX</span></h1>
      <p data-aos="fade-up" data-aos-delay="100">Kết nối, chia sẻ và luyện tập TOEIC cùng cộng đồng<br></p>
      <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
        <a href="#about" class="btn-get-started">Tham gia ngay</a>
      </div>
      <img src="~/assets/img/hero-services-img.webp" class="img-fluid hero-img" alt="" data-aos="zoom-out"
        data-aos-delay="300">
    </div>
  </div>

</section>
<!-- /Hero Section -->

<!-- Featured Services Section -->
<section id="featured-services" class="featured-services section  ">

  <div class="container">

    <div class="row gy-4">

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="test-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-chat-left-text"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Chia Sẻ Kiến Thức</a></h4>
            <p class="description">Chia sẻ các mẹo và tài liệu luyện thi TOEIC với cộng đồng người dùng.</p>
          </div>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="test-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-pencil"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Bài Kiểm Tra Mẫu</a></h4>
            <p class="description">Luyện tập với các bài kiểm tra TOEIC thực tế và nhận phản hồi ngay lập tức.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="test-item d-flex">
          <div class="icon flex-shrink-0"><i class="bi bi-book"></i></div>
          <div>
            <h4 class="title"><a href="#" class="stretched-link">Tài Liệu Học Tập</a></h4>
            <p class="description">Truy cập vào thư viện tài liệu học tập đa dạng để nâng cao kỹ năng của bạn.</p>
          </div>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section>
<!-- /Featured Services Section -->

<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Đề thi mới nhất</h2>
  </div>
  <!-- End Section Title -->

  <div class="container">
    <div class="row d-flex flex-wrap">
      <!-- Start Test Items -->
      @* @foreach (var exam in Model)
      {
      <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
      @await Html.PartialAsync("_TestItem", exam)
      </div>
      } *@
      <!-- End Test Items -->
    </div>
  </div>


</section>
<!-- /Services Section -->


<!-- Faq Section -->
<section id="faq" class="faq section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Frequently Asked Questions</h2>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row justify-content-center">

      <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

        <div class="accordion" id="faqAccordion">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Non consectetur a erat nam at lectus urna duis?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Feugiat scelerisque varius morbi enim nunc faucibus?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Dolor sit amet consectetur adipiscing elit pellentesque?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
                integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi
                quis.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Tempus quam pellentesque nec nam aliquam sem et tortor?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                gravida quis blandit turpis cursus in.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
              <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Perspiciatis quod quo quos nulla quo illum ullam?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
              data-mdb-parent="#faqAccordion">
              <div class="accordion-body">
                Enim ea facilis quaerat voluptas quidem et dolorem. Quis et consequatur non sed in suscipit sequi.
                Distinctio ipsam dolore et.
              </div>
            </div>
          </div>

        </div>

      </div><!-- End Faq Column-->

    </div>

  </div>

</section>
<!-- /Faq Section -->
