/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
	width: 100%;
	min-height: 50vh;
	position: relative;
	padding: 100px 0 40px 0;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.hero .hero-bg img {
	position: absolute;
	inset: 0;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.hero .hero-bg::before {
	content: "";
	background: color-mix(in srgb, var(--white-500), transparent 15%);
	position: absolute;
	inset: 0;
	z-index: 2;
}

.hero .container {
	position: relative;
	z-index: 3;
}

.hero h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
}

.hero h1 span {
	color: var(--primary-500);
}

.hero p {
	color: color-mix(in srgb, var(--gray-800), transparent 30%);
	margin: 5px 0 30px 0;
	font-size: 20px;
	font-weight: 400;
}

@media (min-width: 768px) {
	.hero .hero-img {
		max-width: 600px;
	}
}

.hero .btn-get-started {
	color: var(--white-500);
	background: var(--primary-500);
	font-family: var(--heading-font);
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 28px;
	border-radius: 50px;
	transition: 0.5s;
	box-shadow: 0 8px 28px var(--black-100);
}

.hero .btn-get-started:hover {
	color: var(--white-500);
	background: color-mix(in srgb, var(--primary-500), transparent 15%);
	box-shadow: 0 8px 28px var(--black-100);
}

.hero .btn-watch-video {
	font-size: 16px;
	transition: 0.5s;
	margin-left: 25px;
	color: var(--gray-800);
	font-weight: 600;
}

.hero .btn-watch-video i {
	color: var(--primary-500);
	font-size: 32px;
	transition: 0.3s;
	line-height: 0;
	margin-right: 8px;
}

.hero .btn-watch-video:hover {
	color: var(--primary-500);
}

.hero .btn-watch-video:hover i {
	color: color-mix(in srgb, var(--primary-500), transparent 15%);
}

@media (max-width: 640px) {
	.hero h1 {
		font-size: 28px;
		line-height: 36px;
	}

	.hero p {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}

	.hero .btn-get-started,
	.hero .btn-watch-video {
		font-size: 13px;
	}
}

/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services {
	padding: 40px 0;
}

.featured-services .test-item {
	position: relative;
	padding-top: 20px;
}

.featured-services .test-item .icon {
	background-color: color-mix(in srgb, var(--primary-500), transparent 80%);
	width: 72px;
	height: 72px;
	position: relative;
	margin-right: 15px;
	line-height: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: ease-in-out 0.3s;
}

.featured-services .test-item .icon i {
	color: var(--primary-500);
	font-size: 32px;
	z-index: 2;
	position: relative;
}

.featured-services .test-item .title {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 18px;
}

.featured-services .test-item .title a {
	color: var(--white-800);
}

.featured-services .test-item .title a:hover {
	color: var(--primary-500);
}

.featured-services .test-item .description {
	font-size: 14px;
}

.featured-services .test-item:hover .icon {
	background-color: var(--primary-500);
}

.featured-services .test-item:hover .icon i {
	color: var(--white-500);
}

/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services {
    padding: 40px 0;
}

.services .section-title {
    padding-bottom: 20px;
}

.services .test-item {
	background-color: var(--white-500);
	border: 1px solid color-mix(in srgb, var(--gray-800), transparent 85%);
	height: 100%;
	transition: 0.3s;
	border-radius: 8px;
	display: flex;
}

.services .test-item h3 {
	color: color-mix(in srgb, var(--white-800), transparent 25%);
	font-weight: 700;
	font-size: 16px;
	transition: 0.3s;
}

.services .test-item p {
	margin-bottom: 0;
	color: color-mix(in srgb, var(--gray-800), transparent 40%);
	transition: 0.3s;
}

.services .test-item .detail-item {
	display: flex;
	color: color-mix(in srgb, var(--gray-800), transparent 40%);
	gap: 4px;
	margin-bottom: 4px;
}

.services .test-item .course-tag {
	width: fit-content;
	color: var(--primary-500);
	background-color: color-mix(in srgb, var(--primary-500), transparent 90%);
	padding: 2px 8px;
	border-radius: 30px;
	font-size: 12px;
	margin-top: 16px;
}

.services .test-item .btn-detail {
	width: 100%;
	background-color: transparent;
	color: var(--primary-500);
	border: 2px solid var(--primary-500);
	padding: 8px;
	border-radius: 4px;
	transition: all 0.3s ease;
	font-weight: bold;
}

.services .test-item .btn-detail:hover {
	background-color: var(--primary-500);
	color: var(--white-500);
	cursor: pointer;
}

.services .test-item:hover {
	box-shadow: 0px 2px 25px var(--black-100);
}

.services .test-item:hover h3 {
	color: var(--black-800);
}

.services .test-item:hover p {
	color: color-mix(in srgb, var(--gray-800), transparent 10%);
}

/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq {
    padding: 40px 0;
}

.faq .section-title {
	padding-bottom: 20px;
}

.faq .faq-container .faq-item {
	position: relative;
	padding: 20px;
	margin-bottom: 15px;
	border: 1px solid color-mix(in srgb, var(--gray-800), transparent 85%);
	border-radius: 5px;
	overflow: hidden;
}

.faq .faq-container .faq-item:last-child {
	margin-bottom: 0;
}

.faq .faq-container .faq-item h3 {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	margin: 0 30px 0 0;
	transition: 0.3s;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.faq .faq-container .faq-item h3 .num {
	color: var(--primary-500);
	padding-right: 5px;
}

.faq .faq-container .faq-item h3:hover {
	color: var(--primary-500);
}

.faq .faq-container .faq-item .faq-content {
	display: grid;
	grid-template-rows: 0fr;
	transition: 0.3s ease-in-out;
	visibility: hidden;
	opacity: 0;
}

.faq .faq-container .faq-item .faq-content p {
	margin-bottom: 0;
	overflow: hidden;
}

.faq .faq-container .faq-item .faq-toggle {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 16px;
	line-height: 0;
	transition: 0.3s;
	cursor: pointer;
}

.faq .faq-container .faq-item .faq-toggle:hover {
	color: var(--primary-500);
}

.faq .faq-container .faq-active {
	background-color: color-mix(in srgb, var(--primary-500), transparent 97%);
	border-color: color-mix(in srgb, var(--primary-500), transparent 80%);
}

.faq .faq-container .faq-active h3 {
	color: var(--primary-500);
}

.faq .faq-container .faq-active .faq-content {
	grid-template-rows: 1fr;
	visibility: visible;
	opacity: 1;
	padding-top: 10px;
}

.faq .faq-container .faq-active .faq-toggle {
	transform: rotate(90deg);
	color: var(--primary-500);
}
