.info-badge {
    background-color: #e9ecef;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.875rem;
}
.alert-custom {
    color: var(--red-500);
}
.table-results th {
    background-color: #f8f9fa;
}
.badge-custom {
    font-size: 0.875rem;
    padding: 0.3rem 0.6rem;
}
.alert-pro-tips,
.alert-take-test,
.alert-discussion {
    background-color: var(--gray-100);
    border-left: 4px solid var(--gray-500);
    padding: 8px;
}

.exam-title {
    color: var(--black-900);
}

.custom-tabs {
    width: fit-content;
    padding: 8px;
    background-color: var(--white-500);
    border-radius: 8px;
    border: 1px solid var(--white-600);
}

.custom-tabs .nav-link {
    text-transform: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600; 
    color: var(--black-500);
    transition: background-color 0.3s, color 0.3s;
}

.custom-tabs .nav-link:hover {
    background-color: var(--gray-100);
}

.custom-tabs .nav-link.active {
    color: var(--white-500);
    background-color: var(--primary-500);
    border: solid 1px var(--primary-500);
}

.custom-tabs .nav-link:not(.active):hover {
    background-color: var(--gray-100);
}

.custom-tabs .nav-item {
    margin-right: 4px;
}

.custom-test-information .info {
    display: flex;
    gap: 1rem;
}

.custom-test-information p i{
    margin-right: 8px;
}

.custom-test-information p span{
    font-weight: 600;
}

.result-title {
    padding: 24px 0 24px 0;
    color: var(--black-900) ;
}

.result-title h5{
    color: var(--black-900) ;
}

.table-results {
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table-results thead th {
    padding: 12px;
    text-align: left;
    background-color: var(--gray-100);
    color: var(--black-500);
}

.table-results tbody td {
    padding: 8px;
}
.column-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 4px;
}

.badge-custom {
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    background-color: var(--orange-100);
}

.table-results tbody a {
    color: #007bff;
    text-decoration: none;
}

.table-results tbody a:hover {
    text-decoration: underline;
}

.custom-practice-mode-tabs {
    width: fit-content;
    padding: 8px;
    background-color: var(--white-500);
    border-radius: 8px;
    border: 1px solid var(--white-600);
}

.custom-practice-mode-tabs .nav-link {
    text-transform: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    color: var(--black-500);
    transition: background-color 0.3s, color 0.3s;
}

.custom-practice-mode-tabs .nav-link:hover {
    background-color: var(--gray-100);
}

.custom-practice-mode-tabs .nav-link.active {
    color: var(--white-500);
    background-color: var(--primary-500);
    border: solid 1px var(--primary-500);
}

.custom-practice-mode-tabs .nav-link:not(.active):hover {
    background-color: var(--gray-100);
}

.custom-practice-mode-tabs .nav-item {
    margin-right: 4px;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
}

.custom-btn-group a {
    margin: 5px;
    padding: 4px 8px;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-btn-group a.btn-outline-secondary {
    border-color: var(--gray-200);
    color: var(--gray-800);
}

.custom-btn-group a.btn-outline-secondary:hover {
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
}

.form-group {
    margin-bottom: 1rem
}

.form-group label {
    display: inline-block;
    margin-bottom: 0.5rem
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #677788;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%2371869d' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right .75rem center/8px 10px no-repeat;
    border: 1px solid #bdc5d1;
    border-radius: .35rem;
    appearance: none
}

.custom-select:focus {
    border-color: #7c93d2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(53,80,154,.25)
}

.custom-select:focus::-ms-value {
    color: #677788;
    background-color: #fff
}

.custom-select[multiple],.custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: .75rem;
    background-image: none
}

.custom-select:disabled {
    color: #8c98a4;
    background-color: #f8fafd
}

.custom-select::-ms-expand {
    display: none
}

.custom-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #677788
}

