@model ToeicStudyNetwork.ViewModels.Test.TestAnalyticsViewModel
@{
    var time = 0.0;
    var score = 0.0;
    foreach (var result in Model.UserResults)
    {
        time += result.TimeTaken;
        score += result.Score;
    }
    time = Math.Round(time / 60, 2);
    score = Math.Round(score / Model.UserResults.Count, 2);
}
@section customHead {
    <link rel="stylesheet" href="~/css/test_analytics.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="content-header pb-0 sky-gradient-bg">
    <div class="container">
        <h1 class="mb-4" id="thống-kê-kết-quả-luyện-thi"><span class="far fa-analytics mr-2"></span>Thống kê kết quả
            luyện thi</h1>
    </div>
</div>

<div class="container">
    <div class="result-score-box-wrapper mt-4">
        <div class="result-score-box">
            <div class="result-score-icon text-gray"><i class="bi bi-book"></i></span></div>
            <div class="result-score-icontext text-gray">Số đề đã làm</div>
            <div class="result-score-text">@Model.UserResults.Count</div>
            <div class="result-score-sub"><span>đề thi</span></div>
        </div>
        <div class="result-score-box">
            <div class="result-score-icon text-gray"><i class="bi bi-clock"></i></div>
            <div class="result-score-icontext text-gray">Thời gian luyện thi</div>
            <div class="result-score-text">
                @time
            </div>
            <div class="result-score-sub"><span>phút</span></div>
        </div>

        <div class="result-score-box">
            <div class="result-score-icon text-score"><i class="bi bi-bullseye"></i></div>
            <div class="result-score-icontext text-score">Điểm mục tiêu</div>
            <div class="result-score-sub text-score">
                <a data-toggle="modal" data-target="#exam-top-modal"
                    onclick="window.load_jqhtml(this, '#exam-top-modal-content')" href="/targetscore/add/"
                    data-href="/targetscore/add/?view=clean">
                    <span class="far fa-pen mr-1"></span>
                    Tạo ngay
                </a>
            </div>
        </div>
    </div>
    <ul class="nav nav-horizontal nav-pills">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#nav-section2" role="tab" aria-controls="nav-notes"
                aria-selected="true" id="listening-button">
                Listening
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#nav-section1" role="tab" aria-controls="nav-notes"
                aria-selected="true" id="reading-button">
                Reading
            </a>
        </li>
    </ul>
    <div class="result-score-box-wrapper" id="listening-wrapper">
        <div class="result-score-box">
            <div class="result-score-icontext text-gray">Điểm trung bình</div>

            <div class="result-score-text">
                70/495
            </div>

        </div>
        <div class="result-score-box">
            <div class="result-score-icontext text-gray">Điểm cao nhất</div>

            <div class="result-score-text">
                70/495
            </div>
        </div>
    </div>
    <div class="result-score-box-wrapper hide" id="reading-wrapper">
        <div class="result-score-box">
            <div class="result-score-icontext text-gray">Điểm trung bình</div>

            <div class="result-score-text">
                00/495
            </div>

        </div>
        <div class="result-score-box">
            <div class="result-score-icontext text-gray">Điểm cao nhất</div>

            <div class="result-score-text">
                00/495
            </div>
        </div>
    </div>
    <h4 id="danh-sách-đề-thi-đã-làm">Danh sách đề thi đã làm:</h4>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Ngày làm</th>
                <th style="min-width:250px;">Đề thi</th>
                <th>Kết quả</th>
                <th style="min-width:100px;">Thời gian làm bài</th>
                <th style="min-width:150px;"></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>11/11/2024</td>
                <td>
                    New Economy TOEIC Test 1

                    <span class="result-badge-full">Full test</span>


                </td>
                <td>
                    12/200

                    (Điểm: 70)

                </td>
                <td>0:00:47</td>
                <td><a target="_blank" href="/tests/224/results/20633357/">
                        Xem chi tiết</a>
                </td>
            </tr>

            <tr>
                <td>11/11/2024</td>
                <td>
                    New Economy TOEIC Test 1

                    <span class="result-badge-practice">Luyện tập</span>

                    <span class="result-badge-practice">Part 2</span>
                </td>
                <td>
                    8/25
                </td>
                <td>0:00:32</td>
                <td><a target="_blank" href="/tests/224/results/20633309/">
                        Xem chi tiết</a>
                </td>
            </tr>
            <tr>
                <td>11/11/2024</td>
                <td>
                    New Economy TOEIC Test 1
                    <span class="result-badge-practice">Luyện tập</span>
                    <span class="result-badge-practice">Part 1</span>
                </td>
                <td>
                    4/6
                </td>
                <td>0:00:17</td>
                <td><a target="_blank" href="/tests/224/results/20632102/">
                        Xem chi tiết</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>

<script>
    document.getElementById('listening-button').addEventListener("click", function () {
        document.getElementById('listening-wrapper').classList.remove('hide');
        document.getElementById('reading-wrapper').classList.add('hide');
        document.getElementById('listening-button').classList.add('active');
        document.getElementById('reading-button').classList.remove('active');
    });
    document.getElementById('reading-button').addEventListener("click", function () {
        document.getElementById('reading-wrapper').classList.remove('hide');
        document.getElementById('listening-wrapper').classList.add('hide');
        document.getElementById('reading-button').classList.add('active');
        document.getElementById('listening-button').classList.remove('active');
    });
</script>