@model ToeicStudyNetwork.ViewModels.Test.TestViewModel
@{
    ViewBag.Title = "Test";
    Layout = "_Layout";
}

@section customHead {
    <link rel="stylesheet" href="~/css/test_index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

}

<section class="test">
    <div class="hero-section">
        <div class="container">
            <h2 class="page-title">Đề thi online</h2>
        </div>
    </div>

    <div class="container py-5">
        <div class="accordion" id="testAccordion">
            @foreach (var series in @Model.ExamSeries)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@series.Id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-@series.Id" aria-expanded="false" aria-controls="collapse-@series.Id">
                            <span>@series.Name</span>
                        </button>
                    </h2>
                    <div id="collapse-@series.Id" class="accordion-collapse collapse" aria-labelledby="heading-@series.Id"
                        data-bs-parent="#testAccordion">
                        <div class="accordion-body">
                            @foreach (var exam in series.Exams)
                            {
                                @await Html.PartialAsync("_TestItem", exam)
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
